@import "../app/css/sass-rem/rem";

//fonts
$light: Roboto-Light, sans-serif;
$lightItalic: Roboto-LightItalic, sans-serif;
$medium: Roboto-Medium, sans-serif;
$regular: Roboto-Regular, sans-serif;
$thin: Roboto-Thin, sans-serif;
$bold: Roboto-Bold, sans-serif;

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url(fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}

//colors
$grey: rgb(125,125,125);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$blue: rgb(0,183,255);
$dark-grey: rgb(55,55,55);
$light-grey: rgb(101,101,101);
$medium-grey: rgb(119,119,119);
$very-light-grey: rgb(177,177,177);
$very-light: rgb(194,194,194);
$bgc-grey: rgb(243,243,243);
$line-grey: rgb(219,219,219);
$name-grey: rgb(131,131,131);
$job-grey: rgb(190,190,190);

//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu-mobile {
  position: fixed;
  z-index: 1000;
  font-family: $light;
  font-size: rem(35px);
  background-color: $white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: rem(10px);
  display: none;

  li {
    padding: rem(30px);
    text-align: center;

    a {
      color: $grey;

      &:hover {
        color: $black;
        cursor: pointer;
        text-decoration: none;
      }
    }

    @media (max-width: 600px) {
      padding: rem(10px);
    }
  }

  @media (max-width: 600px) {
    font-size: rem(28px);
  }
}

.close-icon {
  position: fixed;
  z-index: 1001;
  right: rem(60px);
  top: rem(42px);
  display: none;

  img {
    width: rem(30px);

    @media (max-width: 600px) {
      width: rem(20px);
    }
  }

  @media (max-width: 600px) {
    top: rem(20px);
    right: rem(40px);
  }
}

.header-block {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $white;
  padding-bottom: rem(10px);

  img {
    padding: rem(13px 0 2px);
    cursor: pointer;
  }

  .menu {
    ul {
      margin: rem(0 -13px);

      li {
        display: inline-block;
        font-family: $light;
        font-size: rem(20px);
        padding: rem(23px 18px 5px);

        a {
          color: $grey;
          padding: 5px 0;
          position: relative;

          &::after {
            background: $blue;
            position: absolute;
            top: 100%;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            opacity: 0;

            transition: opacity 0.3s, transform 0.3s;
            -moz-transition: opacity 0.3s, -moz-transform 0.3s;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
          }

          &:hover {
            text-decoration: none;
          }

          &:hover::after,
          &:focus::after {
            opacity: 1;

            transform: translateY(0px);
            -moz-transform: translateY(0px);
            -webkit-transform: translateY(0px);
          }
        }

        @media (max-width: 1200px) {
          padding: rem(23px 10px 5px);
        }
      }
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  .header-search {
    position: absolute;
    left: 88%;
    top: 0;

    .header-search__icons {
      min-width: rem(100px);
      margin-top: rem(8px);

      img {
        display: inline-block;
        margin-right: rem(20px);
      }
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  .burger-menu {
    display: none;
    position: absolute;
    left: 88%;
    top: 0;
    margin-top: rem(8px);

    @media (max-width: 992px) {
      display: block;
    }
  }
}

main {
  .main-banner {
    background: url('./images/fon1.jpg') no-repeat 50% 0;
    background-attachment: fixed;
    background-size: cover;
    padding: rem(180px 0 140px);
    position: relative;

    h1 {
      font-family: $regular;
      font-size: rem(70px);
      text-transform: uppercase;
      color: $white;

      @media (max-width: 600px) {
        font-size: rem(30px);
      }
    }

    p {
      font-family: $regular;
      font-size: rem(56px);
      color: $white;
      margin-top: rem(20px);

      @media (max-width: 600px) {
        font-size: rem(20px);
      }
    }

    .main-btn {
      border: rem(2px) solid $white;
      background-color: rgba($white, 0.2);
      color: $white;
      font-size: rem(20px);
      text-transform: uppercase;
      font-family: $regular;
      padding: rem(15px 40px);
      cursor: pointer;
      border-radius: rem(5px);
      -webkit-transition: background 0.2s linear;
      -moz-transition: background 0.2s linear;
      -o-transition: background 0.2s linear;
      transition: background 0.2s linear;
      margin-top: rem(50px);

      &:hover {
        background-color: rgba($white, 1);
        color: $blue;
      }

      &:focus {
        outline: none;
      }
    }

    @media (max-width: 600px) {
      padding: rem(100px 0 80px);
    }
  }

  .main-infoblocks {
    padding: rem(95px 0 80px);

    img {
      @media (max-width: 900px) {
        width: rem(80px);
      }

      @media (max-width: 600px) {
        width: rem(60px);
      }
    }

    .col-3 {
      text-align: center;
    }

    h3 {
      font-family: $medium;
      font-size: rem(37px);
      color: $blue;
      margin-top: rem(35px);

      @media (max-width: 900px) {
        font-size: rem(24px);
        margin-top: rem(15px);
      }

      @media (max-width: 600px) {
        font-size: rem(20px);
        margin-top: rem(15px);
      }
    }

    p {
      font-family: $medium;
      font-size: rem(20px);
      color: $blue;
      margin-top: rem(15px);
      line-height: 1;

      @media (max-width: 900px) {
        font-size: rem(16px);
        margin-top: rem(15px);
      }

      @media (max-width: 600px) {
        font-size: rem(10px);
        margin-top: rem(5px);
      }
    }

    @media (max-width: 600px) {
      padding: rem(40px 0);
    }
  }

  .main-aboutus {
    h2 {
      font-family: $regular;
      font-size: rem(35px);
      color: $black;

      @media (max-width: 600px) {
        font-size: rem(30px);
      }
    }

    p {
      font-family: $light;
      font-size: rem(20px);
      color: $black;
      margin-top: rem(40px);

      @media (max-width: 600px) {
        font-size: rem(14px);
        margin-top: rem(20px);
      }
    }

    p:last-child {
      margin-top: rem(30px);
    }
  }

  .link-block {
    padding: rem(36px 0);

    a.read_more {
      padding: rem(5px 25px);
    }
  }

  .add-company {
    background: url('./images/fon2.jpg') no-repeat  no-repeat 50% 0;
    background-attachment: fixed;
    padding: rem(70px 0);

    a.add {
      padding: rem(14px 55px);

      @media (max-width: 600px) {
        padding: rem(14px 30px);
      }
    }
  }

  .primeval {
    padding: rem(100px 0 10px);

    h2 {
      font-family: $regular;
      font-size: rem(35px);
      color: $black;
      margin-bottom: rem(28px);
    }

    .photo-block {
      width: 100%;
      position: relative;
      height: rem(252px);

      .text-block {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $blue;
        display: none;
        font-family: $regular;
        font-size: rem(17px);
        color: $white;
        text-transform: uppercase;
        text-align: center;
        padding: rem(20px 0);
      }
    }

    .link-block {
      padding: rem(58px 0);

      a.see_more {
        padding: rem(7px 23px);
      }
    }

    @media (max-width: 600px) {
      padding: rem(30px 0 10px);
    }
  }

  .projects {
    background-color: $bgc-grey;
    padding-bottom: rem(20px);

    img  {
      width: 100%;
    }

    h2 {
      font-family: $regular;
      font-size: rem(39px);
      color: $black;
      margin: rem(87px 0 20px);
    }

    h3 {
      font-family: $regular;
      text-align: center;
      color: $black;
      line-height: 1.2;
    }

    p {
      font-family: $light;
      color: $light-grey;
      font-size: rem(18px);
      line-height: 1.2;
      margin-top: rem(10px);

      &.first-block {
        margin-top: rem(26px);
      }

      span {
        font-family: $medium;
      }
    }

    .link-block {
      padding: rem(50px 0);

      a.read_more {
        background-color: $bgc-grey;
        margin-top: rem(40px);

        &:hover {
          background-color: $blue;
        }
      }
    }
  }

  .events {
    h2 {
      font-family: $regular;
      font-size: rem(39px);
      color: $black;
      margin: rem(87px 0 0 25px);
    }

    .news {
      padding: rem(40px);
      border-bottom: rem(1px) solid $line-grey;

      &:last-child {
        border-bottom: none;
      }

      .info-event {
        position: relative;
        min-height: rem(345px);

        h3 {
          font-family: $regular;
          font-size: rem(30px);
          color: $black;

          @media (max-width: 1200px) {
            font-size: rem(25px);
          }
        }

        p {
          font-family: $light;
          font-size: rem(18px);
          color: $black;
          margin-top: rem(20px);
          line-height: 1.5;

          &.not-margin {
            margin-top: 0;
          }

          @media (max-width: 1200px) {
            font-size: rem(14px);
          }
        }

        .info-footer {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: rem(10px 10px 0);

          .link-block {
            text-align: left;
            padding: 0;
            display: inline-block;
            vertical-align: middle;
          }

          img {
            display: inline-block;
            width: rem(228px);
            vertical-align: middle;
            margin: rem(-5px 0 0 10px);

            @media (max-width: 1200px) {
              width: rem(150px);
            }
          }

          p {
            font-family: $regular;
            font-style: rem(16px);
            color: $medium-grey;
            margin-top: rem(10px);
          }

          @media (max-width: 992px) {
            display: none;
          }
        }

        @media (max-width: 1200px) {
          min-height: rem(280px);
        }

        @media (max-width: 992px) {
          min-height: rem(100px);
        }
      }

      img {
        width: 100%;
      }
    }

    .link-block {
      padding: rem(80px 0 100px);

      a.see_more {
        padding: rem(10px 30px);
      }

      @media (max-width: 992px) {
        padding: rem(20px 0 60px);
      }
    }
  }

  .jobs {
    background-color: $bgc-grey;
    padding-bottom: rem(40px);

    h2 {
      font-family: $regular;
      font-size: rem(39px);
      color: $black;
      margin: rem(87px 0 0 25px);

      @media (max-width: 600px) {
        font-size: rem(30px);
      }
    }

    .jobs-ul {
      margin: rem(40px 25px 5px);
      padding-bottom: rem(30px);
      border-bottom: rem(1px) solid $job-grey;
      text-align: center;

      li {
        display: inline-block;
        position: relative;
        color: $very-light-grey;
        font-family: $medium;
        font-size: rem(24px);
        margin-right: rem(17px);
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
        
        &.active {
          color: $black;

          img {
            position: absolute;
            top: rem(-30px);
            left: 45%;

            @media (max-width: 600px) {
              top: rem(-20px);
            }
          }
        }

        @media (max-width: 1200px) {
          font-size: rem(18px);
        }

        @media (max-width: 900px) {
          font-size: rem(22px);
          margin-bottom: rem(20px);
        }

        @media (max-width: 600px) {
          margin-top: rem(30px);
          font-size: rem(16px);
          margin-bottom: 0;
        }
      }

      @media (max-width: 600px) {
        margin: 0;
      }
    }

    .job-card {
      .card {
        border: none;
        border-bottom: rem(1px) solid $job-grey !important;
        margin: rem(0 25px);

        @media (max-width: 600px) {
          margin: 0;
        }
      }

      .card-header {
        background-color: $bgc-grey;
        border-bottom: none;
        padding: rem(15px 0);

        button {
          width: 100%;
          text-align: left;
          padding: 0;
          white-space: unset;

          .job-title,
          .job-location,
          .job-arrow {
            display: inline-block;
            vertical-align: middle;
          }

          .job-title {
            font-family: $regular;
            font-size: rem(24px);
            color: $black;
            margin-right: rem(30px);

            @media (max-width: 600px) {
              font-size: rem(16px);
              margin-right: rem(5px);
            }

            @media (max-width: 325px) {
              font-size: rem(12px);
            }
          }

          .job-location {
            margin-top: rem(-8px);

            img {
              @media (max-width: 600px) {
                width: rem(10px);
              }
            }

            span {
              margin-left: rem(0px);
              font-family: $medium;
              font-size: rem(18px);
              color: $very-light;

              @media (max-width: 600px) {
                font-size: rem(12px);
              }
            }
          }

          .job-arrow {
            float: right;
            margin-top: rem(5px);

            img {
              @media (max-width: 600px) {
                width: rem(30px);
              }
            }
          }

          &:hover,
          &:focus{
            text-decoration: none;
          }
        }
      }

      .card-body {
        padding: 0;
        background-color: $bgc-grey;

        h3 {
          font-family: $regular;
          font-size: rem(19px);
          color: $black;
          margin-bottom: rem(15px);

          &.second-title {
            margin-top: rem(30px);
          }
        }

        ul {
          &.requairements {
            li:before {
              content: "-";
              margin-right: rem(5px);
            }
          }

          li {
            font-family: $thin;
            font-size: rem(18px);
            color: $black;
            margin-bottom: rem(10px);

            @media (max-width: 900px) {
              font-size: rem(16px);
            }

            @media (max-width: 600px) {
              font-size: rem(14px);
            }
          }
        }

        .link-block {
          text-align: left;
          margin: rem(10px 0);

          a.see_more {
            padding: rem(5px 20px);
            text-transform: lowercase;
          }
        }

        .contact-job {
          p {
            font-family: $light;
            font-size: rem(15px);
            color: $black;
            line-height: 1.2;
          }

          .contact-name {
            margin-top: rem(20px);

            img, span {
              display: inline-block;
              vertical-align: middle;
            }

            img {
              width: rem(87px);
              height: rem(87px);
            }

            span {
              color: $name-grey;
              font-family: $light;
              font-size: rem(22px);
              line-height: 1.2;

              @media (max-width: 900px) {
                font-size: rem(18px);
              }
            }
          }

          .active-contact {
            margin-top: rem(40px);

            .skype-hr,
            .email-hr {
              font-family: $regular;
              font-size: rem(14px);

              img {
                margin-right: rem(10px);

                @media (max-width: 900px) {
                  margin-right: 0;
                  width: rem(15px);
                }
              }

              a {
                color: $blue;
                
                &:hover {
                  text-decoration: none;
                }
              }

              @media (max-width: 900px) {
                font-size: rem(12px);
              }
            }

            .email-hr {
              margin-top: rem(20px);
            }
          }

          @media (max-width: 600px) {
            padding-bottom: rem(20px);
          }
        }
      }
    }
  }

  .slider {
    padding: rem(50px 20px);

    .swiper-slide {
      text-align: center;
      font-size: 14px;
      background: #fff;
    }

    .swiper-container {
      margin-top: 6% !important;
    }

    span {
      line-height: 1.2;
    }

    .italic {
      margin-top: 10%;
      font-family: $lightItalic;
      font-size: rem(16px);

      @media (max-width: 600px) {
        padding-bottom: rem(20px);
      }
    }

    .swiper-pagination {
      position: static !important;
      margin-top: rem(100px);

      @media (max-width: 600px) {
        margin-top: rem(30px);
      }
    }

    .font-small {
      font-family: $light;
      font-size: rem(14px);
    }

    .top {
      margin-top: rem(30px);

      @media (max-width: 600px) {
        margin-top: rem(15px);
      }
    }

    .font {
      font-size: rem(16px);
      font-family: $medium;
    }
  }
}

footer {
  background: url("./images/fon3.png") center center no-repeat;
  background-size: cover;
  padding: rem(280px 0 60px);
  font-family: $regular;
  font-size: rem(18px);
  color: $white;

  .city {
    margin-top: rem(10px);

    @media (max-width: 900px) {
      margin-top: rem(10px);
    }
  }
  
  a {
    color: $white; 
    
    &:hover {
      color: $very-light-grey;
      text-decoration: none;
    }
  }

  .author {
    text-align: right;

    @media (max-width: 600px) {
      margin-top: rem(30px);
      text-align: left;
    }
  }

  @media (max-width: 900px) {
    padding: rem(150px 0 60px);
    font-size: rem(14px);
  }

  @media (max-width: 600px) {
    font-size: rem(16px);
  }
}

.link-block {
  text-align: center;

  a.read_more {
    background-color: $white;
    border: rem(1.5px) solid $blue;
    color: $blue;
    font-family: $regular;
    font-size: rem(21px);
    border-radius: rem(7px);
    text-decoration: none;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

    &:hover {
      background-color: $blue;
      color: $white;
      cursor: pointer;
      text-decoration: none;
    }
  }

  a.add {
    color: $dark-grey;
    background-color: $white;
    font-family: $medium;
    font-size: rem(20px);
    border-radius: rem(7px);
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    
    &:hover {
      text-decoration: none;
    }

    @media (max-width: 600px) {
      font-size: rem(14px);
    }
  }

  a.see_more {
    background-color: $blue;
    text-transform: uppercase;
    color: $white;
    border-radius: rem(7px);
    border: rem(1.5px) solid $blue;
    font-family: $medium;
    font-size: rem(18px);
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

    &:hover {
      text-decoration: none;
      color: $blue;
      background-color: $white;
    }
  }
}
